.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #f8dfff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 12rem;
  }

  @media (max-width:400px){
    .chart{
      flex-direction: column;
      justify-content:flex-start;
      gap:0.2rem;
    }
  }