.new-expense {
    background-color: #a892ee;
    padding: 1vw;
    margin: 2vw auto;
    width: 60%;
    max-width: 90%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-expense button {
    font: inherit;
    /* font-size:4.5vw; */
    cursor: pointer;
    padding: 1vh 2vw;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1vw;
    
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #510674;
    border-color: #510674;
  }
